/* BOARD PAGE STYLES */
#board-container {
  display: flex-column;
}

#boards-container {
}

.welcome {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 10px;
  margin: 30px;
  font-size: 1.5em;
}

#board-form {
  display: flex;
  flex-direction: column;
}

.previews {
  display: flex;
}

.event-preview {
  border: 2px solid #5b85d9;
  border-radius: 15px;
  padding: 0 10px;
  margin: 30px;
}
