/* BOARD PAGE STYLES */
#board-container {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#board-container p {
  font-size: 1.5em;
}

#boards-container {
}

.event-page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.new-board-form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 10px;
  margin: 30px;
  font-size: 1.5em;
}

#board-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  width: 50vh;
  background-color: white;
  border: 2px solid #f2cb05;
  border-radius: 5px;
}

.closing-x {
  align-self: flex-end;
}

.form-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  justify-content: center;
}

.form {
  margin: 5px;
  padding: 10px;
}

#board-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20%;
}

.hashtag-input {
  display: flex;
  width: 100%;
  justify-content: center;
}

.hashtag-input > p {
  display: flex;
  align-items: center;
}

#board-form input,
select {
  width: 50%;
  padding: 5px;
  margin: 5px;
}

#board-form label {
  padding: 5px;
}

.previews {
  display: flex;
}

.event-preview {
  border: 2px solid #f2cb05;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
  display: flex;
  background-color: #f0f0f2;
  height: 30vh;
}

.preview-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.preview-titles {
  padding: 10px;
}

.preview-buttons {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pb {
  cursor: pointer;
}

.pb:hover {
  opacity: 50%;
}

.red {
  color: #f64652;
}

.blue {
  color: #5b85d9;
}
