/* EVENT STYLES */

#event-page {
  min-height: 90vh;
  min-width: 80vw;
}

.close-button {
  position: absolute;
  right: 4em;
  top: 3em;
  margin: 30px;
  cursor: pointer;
  color: var(--text-primary);
}

.event-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-primary);
}

#event-page h2 {
  font-size: 3em;
}

#tweet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 10px;
  height: 100vh;
  margin-left: 10em;
  margin-top: 1em;
}

.start-stream {
  text-align: center;
  padding: 10px;
}

.start-stream button {
  cursor: pointer;
  background-color: var(--background);
  color: var(--accent);
  padding: 5px;
  font-weight: bold;
  font-size: 1.25 rem;
  border-radius: 5px;
}

.start-stream button:hover {
  opacity: 50%;
}

.start-stream button:disabled {
  opacity: 50%;
}

.hashtag {
  color: var(--yellow);
}

.event-header {
  display: flex;
  margin-left: 5em;
  margin-right: 5em;
  justify-content: space-around;
  align-items: center;
}

.countdown {
  color: var(--text-primary);
  width: 15em;
}
