/* EVENT STYLES */

#event-page {
  min-height: 90vh;
  min-width: 80vw;
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 30px;
  cursor: pointer;
}

.send-button {
  align-self: center;
}

.event-title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#event-page h2 {
  padding: 10px;
  font-size: 3em;
}

#tweet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  height: 100vh;
}

.start-stream {
  text-align: center;
  padding: 10px;
}

.start-stream button {
  cursor: pointer;
}

.hashtag {
  color: #f2cb05;
}
