/* EVENT STYLES */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

#event-page {
  height: 100vh;
  min-width: 80vw;
}

.close-button {
  position: absolute;
  right: 4em;
  top: 3em;
  margin: 30px;
  cursor: pointer;
  color: var(--text-primary);
}

.event-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-primary);
}

#event-page h2 {
  font-size: 3em;
}

#event-page h3 {
  font-size: 2em;
}

#tweet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 13%;
  margin-right: 10em;
  margin-top: 1em;
  height: 80vh;
  overflow: scroll;
}

.start-stream {
  text-align: center;
  padding: 10px;
}

.start-stream button {
  cursor: pointer;
  background-color: var(--accent);
  color: var(--text-primary);
  padding: 5px;
  font-weight: bold;
  font-size: 1.25 rem;
  border-radius: 15px;
  border: none;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.start-stream button:hover {
  opacity: 70%;
}

.start-stream button:disabled {
  opacity: 50%;
}

.hashtag {
  color: var(--yellow);
}

.event-header {
  display: flex;
  margin-left: 5em;
  margin-right: 5em;
  justify-content: space-around;
  align-items: center;
  z-index: -1;
}

.countdown {
  color: var(--text-primary);
  width: 15em;
  font-family: "Source Code Pro", monospace;
}
