.navbar-container {
  margin: 0%;
  width: 95%;
  height: 100px;
  /* position: fixed; */
  background-color: grey;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 10;
}

.nav-buttons > ul > li {
  font-size: 1.7rem;
}

.nav-buttons > ul > li:hover {
  opacity: 50%;
}

.nav-buttons > ul {
  width: 600px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navlink {
  color: white;
  text-decoration: none;
}
