/* NAV STYLES */

nav {
  background: var(--yellow);
  display: inline-block;
  border-radius: 35px;
  padding: 0 10px;
  margin: 30px;
  position: absolute;
  right: 0;
  top: 5em;
}

.first {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin: 30px;
  align-items: center;
  padding-right: 5px;
}

.profile-pic-preview {
  border-radius: 50%;
  height: 4em;
  width: 4em;
  border: 2px solid var(--yellow);
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.first h3 {
  padding-right: 10px;
}

.nav ul {
  display: flex;
  list-style-type: none;
}

.nav.vertical ul {
  flex-direction: column;
}

.nav ul li a {
  display: inline-block;
  padding: 15px;
  color: var(--background);
}

.nav p {
  display: inline-block;
  padding: 15px;
  color: var(--background);
  cursor: pointer;
}

/* LOGO ON TOP LEFT STYLES */

.logo img {
  width: 10%;
  height: 10%;
  margin-top: 1rem;
  margin-left: 1rem;
}

.logo {
  display: flex;
}

#nav-logo-title {
  color: var(--text-primary);
  font-size: 4em;
  transform: translateY(50px);
  margin-bottom: 0;
}
