/* PROFILE STYLES */

.upload-photo {
  display: flex;
  padding: 10px;
  position: relative;
}

img {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 200px;
  height: 200px;
  border: 2px solid #5b85d9;
}

.upload {
  position: absolute;
}

#profile-container .edit-profile form {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#profile-container {
  background: #f0f0f2;
  height: 70vh;
  width: 40vw;
  padding: 20px;
  border: 2px solid #f2cb05;
  border-radius: 5px;
}

.inner-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.at {
  color: #f2cb05;
}

.bio {
  padding: 10px;
  margin: 5px;
  height: 10vh;
}

.submit-button {
  padding: 2px;
}
