/* TWEET STYLES */
#tweet {
  z-index: 10;
}

#tweet-container body {
  background: var(--background);
  font-family: "Asap", sans-serif;
  font-family: "Roboto", sans-serif;
}

#tweet-container img {
  max-width: 100%;
}

.avatar {
  border-radius: 100px;
  width: 48px;
  height: 48px;
  margin-right: 15px;
}

.tweet-wrap {
  max-width: 400px;
  background: #fff;
  margin: 0 auto;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid var(--background);
}

.tweet-header {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}

.tweet-header-info {
  font-weight: bold;
}

.tweet-header-info span {
  font-weight: normal;
  margin-left: 5px;
}

.tweet-header-info p {
  font-weight: normal;
  margin-top: 5px;
}

.tweet-img-wrap {
  padding-left: 60px;
}

.tweet-info-counts {
  display: flex;
  margin-left: 60px;
  margin-top: 10px;
}

.tweet-info-counts div {
  display: flex;
  margin-right: 20px;
}

.tweet-info-counts div svg {
  margin-right: 10px;
}

.tweet-img {
  width: 100%;
}

.bold {
  color: var(--text-primary);
  font-weight: bold;
}
