/* TWEET STYLES */

#tweet-container body {
  background: #e6ecf0;
  font-family: "Asap", sans-serif;
  font-family: "Roboto", sans-serif;
}

#tweet-container img {
  max-width: 100%;
}

.avatar {
  border-radius: 100px;
  width: 48px;
  height: 48px;
  margin-right: 15px;
}

.tweet-wrap {
  max-width: 490px;
  background: #fff;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid #e6ecf0;
}

.tweet-header {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}
.tweet-header-info {
  font-weight: bold;
}
.tweet-header-info span {
  color: #657786;
  font-weight: normal;
  margin-left: 5px;
}
.tweet-header-info p {
  font-weight: normal;
  margin-top: 5px;
}
.tweet-img-wrap {
  padding-left: 60px;
}

.tweet-info-counts {
  display: flex;
  margin-left: 60px;
  margin-top: 10px;
}
.tweet-info-counts div {
  display: flex;
  margin-right: 20px;
}
.tweet-info-counts div svg {
  color: #657786;
  margin-right: 10px;
}
