* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  min-height: 100vh;
  background: #f0f0f2;
  color: #f2cb05;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ICON STYLES */

#icon-large {
  font-size: 7em;
  cursor: pointer;
}

#icon-large:hover {
  opacity: 50%;
}

#icon-med {
  font-size: 3em;
}

#icon-med:hover {
  opacity: 50%;
}

.icon-r {
  color: #f64652;
}

.icon-s:hover {
  opacity: 50%;
}

#profile-container .icon-p {
  font-size: 3em;
}

#profile-container .icon-p:hover {
  opacity: 50%;
}
