* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  min-height: 100vh;
  color: var(--text-primary);
  justify-content: center;
  align-items: center;
  background-image: var(--bkimg);
  background-size: cover;
}

.App {
  background: var(--bkimg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

select {
  border-radius: 5px;
}

@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Sansita+Swashed:wght@500&family=Staatliches&display=swap");

/* ICON STYLES */

.icon-container {
  display: flex;
  justify-content: center;
}

.icon-container-left {
  display: flex;
  align-items: center;
}

#icon-large {
  font-size: 7em;
  cursor: pointer;
  color: var(--yellow);
}

#icon-large:hover {
  opacity: 50%;
}

#icon-med {
  font-size: 3em;
  color: var(--yellow);
  cursor: pointer;
}

#icon-med:hover {
  opacity: 50%;
}

.icon-r {
  color: #f64652;
}

.icon-y {
  color: var(--yellow);
}

.icon-s {
  cursor: pointer;
  color: var(--text-primary);
}

.icon-s:hover {
  opacity: 50%;
}

#profile-container .icon-p {
  cursor: pointer;
  font-size: 3em;
}

#profile-container .icon-p:hover {
  opacity: 50%;
}

.error {
  font-size: 0.75em;
  color: #f64652;
}

input,
textarea {
  --focus: 2px var(--yellow);
  --active: var(--text-secondary);
  --border: var(--background);
  --border-hover: var(--text-primary);
  padding: 2px;
  outline: none;
  transition: box-shadow 0.2s;
  border-radius: 5px;
  background-color: var(--input);
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: 8rem;
  font-family: "Sansita Swashed", cursive;
  /* font-family: "Pacifico", cursive;
  /* font-family: "Staatliches", cursive; */
  margin-bottom: 10rem;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  row-gap: 1rem;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  row-gap: 1rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#info-icon {
  font-size: 0.75em;
  color: var(--accent);
}

.yellow {
  color: #f2cb05;
}
